@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --birusa-pink: #f41e6b;
  --birusa-violet: #4a017d;
  --birusa-green: #80c41c;
  --birusa-blue: #0083ad;
  --birusa-blue-dark: #004f75;
  --birusa-blue-light: #4ac1e0;
  --birusa-blue-semilight: #00aedd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

@keyframes wave {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.wrapper::before {
  content: '';
  position: absolute;
  padding-bottom: calc(100% * 1.41421356237);
  width: calc(100% * 1.41421356237);
  /* background: conic-gradient(
    from -160deg at 50% 50%,
    #e92a67 0deg,
    #a853ba 120deg,
    #2a8af6 240deg,
    #e92a67 360deg
  ); */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  z-index: 0;
}

.react-flow__edge {
  cursor: default !important;
}

.react-flow__edge-text {
  font-family: var(--font-MNWide) !important;
  font-weight: 400 !important;
}

.react-flow__node-custom .wrapper.selected::before {
  content: '';
  animation: spinner 4s linear infinite;
  transform: translate(-50%, -50%) rotate(0deg);
  z-index: -1;
}

@keyframes spinner {
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

.react-flow__handle.source {
  right: -7px;
}

.react-flow__handle.target {
  left: -7px;
}

.custom-fullscreens {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.bg-video video {
  object-fit: cover;
}

.bg-color {
  background: rgba(0, 79, 117, 0.15);
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.12) 10%, rgba(0, 79, 117, 0.24) 100%);
}

.bg-color-black {
  background: rgba(0, 0, 0, 0.15);
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 100%);
}

.bg-color-black-questons {
  background: rgba(0, 0, 0, 0.15);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.05) 70%, rgba(0, 0, 0, 0.05) 100%);
}


@media (min-width: 1024px) {
  .toggle-screen-button:hover svg {
    fill: #f6f6f6;
    transition: 0.15s ease-in-out;
  }

  .go-back-menu-button:hover svg {
    fill: #f6f6f6;
    transition: 0.15s ease-in-out;
  }

  .toggle-menu-button:hover svg path,
  .toggle-screen-button:hover svg path,
  .go-back-menu-button:hover svg path {
    stroke: #f6f6f6;
    transition: 0.15s ease-in-out;
  }
}

.main-title {
  width: fit-content;
  height: fit-content;
  position: relative;
  font-size: max(18px, 0.6vw);
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.6), 0 4px 8px 0 rgba(255, 255, 255, 0.7);
  overflow: hidden;
}

.main-title:before,
.main-title:after {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  content: '';
  position: absolute;
  background-color: #fff;
}

.main-title:before {
  right: 0;
  top: -190px;
  border-radius: 45%;
  background: rgba(255, 255, 255, 0.9);
  animation: wave 5s linear infinite;
}

.main-title:after {
  left: 0;
  top: 45px;
  border-radius: 40%;
  background: rgba(255, 255, 255, 0.7);
  animation: wave 5s linear infinite;
}

.start-button {
  position: relative;
  font-size: max(38px, 1.2vw);
  overflow: hidden;
}

.start-screen-cont-main>.start-button {
  margin-bottom: 10%;
}

.start-button:before,
.start-button:after {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  content: '';
  position: absolute;
  background-color: #fff;
}

.start-button:before {
  right: -110px;
  top: 50%;
  border-radius: 45%;
  background: rgba(255, 255, 255, 0.5);
  animation: wave 5s linear infinite;
}

.start-button:after {
  right: -130px;
  top: 60%;
  border-radius: 40%;
  background: rgba(255, 255, 255, 0.8);
  animation: wave 5s linear infinite;
}

.main-text {
  width: fit-content;
  height: fit-content;
  position: relative;
  background-color: #00aedd;
  box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.6), 0 4px 10px 0 rgba(255, 255, 255, 0.9);
  font-size: 1.5vw;
  margin-bottom: 10%;
  overflow: hidden;
}

.main-text:before,
.main-text:after {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  content: '';
  position: absolute;
  background-color: #fff;
}

.main-text:before {
  right: 0;
  bottom: 90%;
  border-radius: 45%;
  background: rgba(255, 255, 255, 0.9);
  animation: wave 5s linear infinite;
}

.main-text:after {
  left: 0;
  top: 90%;
  border-radius: 40%;
  background: rgba(255, 255, 255, 0.7);
  animation: wave 5s linear infinite;
}

.buttons-var button {
  min-width: 30%;
}

@media (max-width: 600px) {
  .buttons-var {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .buttons-var button {
    min-width: 40%;
    width: fit-content;
    margin-bottom: 40px;
  }
}

@media (max-height: 290px) {

  .start-button {
    font-size: 22px !important;
    margin-bottom: 0 !important;
  }

}

@media (min-height: 290px) and (max-height: 550px) {

  .start-button {
    font-size: 18px !important;
    padding: 20px 40px !important;
  }

}

@media (max-width: 360px) {
  .main-title {
    width: 75% !important;
  }
}

@media (max-width: 420px) {

  .main-text {
    font-size: 2.8vw;
    margin-bottom: 25%;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.6), 0 4px 6px 0 rgba(255, 255, 255, 0.8);
  }

  .main-text:before,
  .main-text:after {
    width: 200px;
    height: 200px;
  }

  .main-text span {
    font-size: 3.5vw;
  }

  .start-screen-cont-main>.start-button {
    margin-bottom: 25%;
  }

  .main-title {
    width: 85%;
    font-size: 8px;
  }

  .main-title:before {
    top: -195px;
  }

  .main-title:after {
    top: 50px;
  }

  .start-button {
    font-size: 20px;
  }

}

@media (min-width: 420px) and (max-width: 768px) {

  .main-text {
    font-size: 2.5vw;
    margin-bottom: 5%;
    box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.6), 0 4px 8px 0 rgba(255, 255, 255, 0.8);
  }

  .main-text:before,
  .main-text:after {
    width: 200px;
    height: 200px;
  }

  .start-screen-cont-main>.start-button {
    margin-bottom: 10%;
  }

  .main-title {
    font-size: 8px;
  }

  .main-title:before {
    top: -195px;
  }

  .main-title:after {
    top: 45px;
  }

  .start-button {
    font-size: 28px;
  }

}

@media (min-width: 768px) and (max-width: 1024px) {

  .main-text {
    font-size: 2.2vw;
    margin-bottom: 10%;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.6), 0 4px 6px 0 rgba(255, 255, 255, 0.8);
  }

  .main-text:before,
  .main-text:after {
    width: 200px;
    height: 200px;
  }

  .start-screen-cont-main>.start-button {
    margin-bottom: 5%;
  }

  .main-title {
    font-size: 10px;
  }

  .main-title:before {
    top: -195px;
  }

  .main-title:after {
    top: 45px;
  }

  .start-button {
    font-size: 30px;
  }

}

@media (min-width: 1024px) and (max-width: 1280px) {

  .main-text {
    font-size: 2vw;
  }

  .main-text:before,
  .main-text:after {
    width: 200px;
    height: 200px;
  }

  .main-title {
    font-size: 12px;
  }

  .start-button {
    font-size: 32px;
  }

}

@media (min-width: 1280px) and (max-width: 1536px) {

  .main-text {
    font-size: 1.5vw;
  }

  .main-text:before,
  .main-text:after {
    width: 300px;
    height: 300px;
  }

  .main-title {
    font-size: 14px;
  }

  .start-button {
    font-size: 34px;
  }

}

.loading h1 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.water,
.water:before,
.water:after {
  width: 200px;
  height: 200px;
}

@media (max-width: 1024px) {

  .water,
  .water:before,
  .water:after {
    width: 140px !important;
    height: 140px !important;
  }

  .water:before,
  .water:after {
    top: -60px !important;
  }

  .loading h1 {
    font-size: 1rem;
    line-height: 1.25rem;
  }

}

.water {
  background-color: #00aedd;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.6), 0 4px 8px 0 rgba(255, 255, 255, 0.9);
  overflow: hidden;
  transform: rotate(180deg);
}

.water:before,
.water:after {
  content: '';
  position: absolute;
  top: -80px;
  background-color: #fff;
}

.water:before {
  border-radius: 45%;
  background: rgba(255, 255, 255, .8);
  animation: wave 5s linear infinite;
}

.water:after {
  border-radius: 35%;
  background: rgba(255, 255, 255, .5);
  animation: wave 5s linear infinite;
}