@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --birusa-blue: #0083ad;
  --birusa-blue-dark: #004f75;
  --birusa-blue-light: #4ac1e0;
  --birusa-blue-semilight: #00aedd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* .main-image-bg {
  background: transparent;
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 10%, rgba(0, 131, 173, 0.5) 100%);
} */